.Fly > i {
  animation: jump 2s ease-in-out 0s infinite forwards;
  display: inline-block;
  font: normal 600 4rem "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  text-shadow: 0.01em 0.05em 0.1em rgba(0, 0, 0, 0.3);
}

@keyframes jump {
  0% {
    transform: translateY(0em);
  }
  33% {
    transform: translateY(-0.6em);
  }
  66% {
    transform: translateY(0em);
  }
}
